.slidev-layout.wrapped {
  background-color: var(--slidev-theme-center-headingBg);
  background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
  .slidev-layout.wrapped h1 {
    color: black;
    margin: 0 auto;
    display: flex;
    padding: 0.8rem;
    align-items: baseline;
    white-space: nowrap;
  }
  .slidev-layout.wrapped h1::before {
    background: var(--slidev-theme-center-headingBg);
    box-shadow: var(--slidev-theme-header-shadow);
    content: " ";
    display: block;
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    margin-left: -0.25em;
    margin-top: -0.25em;
    z-index: -1;
    transform: rotate(-1deg);
  }
    .slidev-layout.wrapped h1:has(img),
    .slidev-layout.wrapped h1:has(svg) {
      padding: 0.8rem 4.8rem 0.8rem 2.3rem;
      align-items: center;
    }
    .slidev-layout.wrapped h1:has(svg) {
      padding-right: 1rem;
    }
    .slidev-layout.wrapped h1 img,
    .slidev-layout.wrapped h1 svg {
      margin-right: 1.2rem;
    }